@model ICollection<Tuple<char, Track>>

<table class="table table-bordered table-striped">

	<tbody>
		@foreach (var item in Model) {

			if (item.Item2 != null) {
				<tr>
					<td>
						<strong>@item.Item1</strong>
					</td>
					<td>
						@item.Item2.Name by <em>@String.Join(", ", item.Item2.Artists.Select(x => x.Name).ToArray())</em>
					</td>
				</tr>
			}
			else {
				<tr>
					<td>
						&nbsp;
					</td>
					<td>
						&nbsp;
					</td>
				</tr>
			}

		}
	</tbody>

</table>
